
@{
    ViewBag.Title = "Login";
}


<div class="container" style="color:white; font-size:25px;">
        <div class="row">
            <div class="col-md-12">
                <form method="post" action="loginPass"> 
                    <div class="form-group">
                        <label>Enter User Name </label><br />
                        <input type="text" name="UserName" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Enter User Password </label><br />
                        <input type="password" name="UserPassword" class="form-control" />
                    </div>

                    <input type="submit" class="btn btn-warning" value="Sign In" />
                </form>
            </div>


        </div>

</div>

