
@{
    ViewBag.Title = "Work";
}



<div class="container" style="color:white;">
    <div class="row">
        <div class="col-md-12">
            <h1>Wel Come to the Working area of the Admin </h1>
            <a href="@Url.Action("DoctorList","Doctor")" style="font-size:25px">Doctor Pannel </a> <hr />
            <a href="@Url.Action("GroceryList","Grocery")" style="font-size:25px">Grocery Pannel </a> <hr />
            <a href="@Url.Action("PoliceList","Police")" style="font-size:25px">Police Pannel </a> <hr />
            <a href="@Url.Action("ContactList","Contact")" style="font-size:25px">Contact Pannel </a> <hr />
        </div>
    </div>


</div>

