
@{
    ViewBag.Title = "alert";
}




<div class="container" style="color:white;">
    <div class="row">
        <div class="col-md-12">
            <h2>Thanks for the Feed Back we will COntact you soon !  </h2>


            <a href="@Url.Action("Index","Hme")"> Back to Site </a>
        </div>
    </div>


</div>





